<div class="rounded-xl shadow-xl">
    <div class="flex flex-col p-7">
        <div id="chart" *ngIf="chartData.series">
            <apx-chart [series]="chartData.series" [chart]="chartData.chart" [xaxis]="chartData.xaxis"
                [title]="chartData.title" [labels]="chartData.labels" [markers]="chartData.markers"
                [stroke]="chartData.stroke" [yaxis]="chartData.yaxis" [fill]="chartData.fill"
                [tooltip]="chartData.tooltip" [legend]="chartData.legend">
            </apx-chart>
        </div>
    </div>
</div>